/* Home.module.css */
.bgImage {
  background-image:
    url('../../assests/image/anime.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}